.AuthPage{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vh;
}

.mainAuthBox{
    max-width: 1000px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 3px #ccc;
}

.LoginForm > form, .SignUpForm > form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}