.link {
    text-decoration: none;
    color: inherit;
}

.NewTemplateBar{
    padding: 0 10px;
}

.TemplateBar{
    margin: auto;
    padding: 10px;
    padding-top: 30px;
    border: 1px solid rgb(212, 212, 212);
    position: relative;
    display: flex;
    justify-content: center;
    max-width: 980px;
}

.TemplateBar h5{
    padding: 5px 15px;
    font-weight: 400;
    letter-spacing: 1px;
    background-color: var(--fourth);
    color: #fff;
    position: absolute;
    top: -15px;
    border-radius: 0.3rem;
}

.defaultTemplates > ul{
    display: flex;
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 0;
    overflow-x: scroll;
    white-space: nowrap;
}

.defaultTemplates > ul > a > li {
    min-width: 120px;
    max-width: 120px;
    height: 140px;
    border: 2px solid var(--primary);
    padding: 10px;
    margin: 10px;
}

.defaultTemplates{
    width: calc(100% - 120px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.defaultTemplateOption > div, .blank-template > div{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.defaultTemplateOption > div:first-of-type, .blank-template > div:first-of-type{
    height: 65%;
    justify-content: center;
    white-space: pre-wrap;
}

.defaultTemplateOption > div:last-of-type, .blank-template > div:last-of-type{
    height: 35%;
    justify-content: start;
    padding-bottom: 2px;
    font-size: 2rem;
    color: var(--fourth);
}

.defaultTemplates > ul > a:first-of-type > li{
    margin-left: 10px;
}

.blank-template{
    min-width: 120px;
    max-width: 120px;
    height: 140px;
    border: 2px solid var(--primary);
    padding: 10px;
    margin: 10px;
}

.option{
    cursor: pointer;
}

.option:hover{
    background-color: var(--primary);
    color: #fff;
}