/* CSS Custom Properties */
:root {
  --primary: #364958;
  --secondary: #3B6064;
  --third: #55828B;
  --fourth: #87BBA2;
  --fifth: #C9E4CA;
  --success: #28A745;
  --info: #89C1E0;
  --warning: #D69432;
  --danger: #D73939;
  --light: #e7e7e7;
  --dark: #343A40;
}

*, *:before, *:after {
  box-sizing: border-box;
}

body {
  margin: 0;  
  background-color: var(--light);
  padding: 0;
  height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root {
  height: 100%;
}

.align-ctr {
  text-align: center;
}

.align-rt {
  text-align: right;
}

.smaller {
  font-size: smaller;
}

.flex-ctr-ctr {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-col {
  flex-direction: column;
}

.flex-j-end {
  justify-content: flex-end;
}

.scroll-y {
  overflow-y: scroll;
}

.tooltip {
  color: #fff;
  border: none;
  border-radius: 4px;
  font-size: 14px;
  padding: 8px;
}

.tooltip::before {
  border-top-color: #333;
}

main{
  height: calc(100% - 7rem);
}

.letter-spacing-1{
  letter-spacing: 1px;
}

.letter-spacing-2{
  letter-spacing: 2px;
}